.Footer {
  background-color: black;
  color: white;
  aspect-ratio: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Footer > div > h1 {
  font-size: 7vw;
}

.Footer > div > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-align: justify;
}

.Footer > div > div > a {
  font-size: 1.1em;
  text-decoration: none;
  color: white;
  font-size: 1vw;
}
